[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "/Users/shuw/.vim/bundle/vim-jade"]
	path = .vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "/Users/shuw/.vim/bundle/vim-fugitive"]
	path = .vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
[submodule "/Users/shuw/.vim/bundle/vim-less"]
	path = .vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less
[submodule ".vim/bundle/grb256"]
	path = .vim/bundle/grb256
	url = git://github.com/quanganhdo/grb256.git
[submodule ".vim/bundle/vim-colors-solarized"]
	path = .vim/bundle/vim-colors-solarized
	url = git://github.com/altercation/vim-colors-solarized.git
[submodule ".vim/bundle/vim-distinguished"]
	path = .vim/bundle/vim-distinguished
	url = git://github.com/Lokaltog/vim-distinguished.git
