[user]
  name = Shu Wu
  email = shuwu83@gmail.com
[color]
  ui = true
[alias]
  d = diff
  br = branch --verbose
  co = checkout
  st = status
  cp = cherry-pick
  aa = add --all
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  sl = stash
  of = diff trunk --name-only
  c = commit
[core]
  editor = vim
