[submodule ".vim/bundle/command-t"]
	path = .vim/bundle/command-t
	url = git://git.wincent.com/command-t.git
[submodule ".vim/bundle/nerdtree"]
	path = .vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule ".vim/bundle/vim-coffee-script"]
	path = .vim/bundle/vim-coffee-script
	url = https://github.com/kchmck/vim-coffee-script.git
[submodule "/Users/shuw/.vim/bundle/vim-jade"]
	path = /Users/shuw/.vim/bundle/vim-jade
	url = git://github.com/digitaltoad/vim-jade.git
[submodule "/Users/shuw/.vim/bundle/vim-fugitive"]
	path = /Users/shuw/.vim/bundle/vim-fugitive
	url = git://github.com/tpope/vim-fugitive.git
