[user]
  name = Shu Wu
  email = shuwu83@gmail.com
[color]
  ui = true
[alias]
  d = diff
  br = branch --verbose
  co = checkout
  st = status
  cp = cherry-pick
  aa = add --all
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  sl = stash
  of = diff trunk --name-only
  c = commit
  r = rebase
  wc = whatchanged --stat
  graphviz = "!f() { echo 'digraph git {' ; git log --pretty='format:  %h -> { %p }' \"$@\" | sed 's/[0-9a-f][0-9a-f]*/\"&\"/g' ; echo '}'; }; f"
  gsub = "!f() { git grep -l \"$1\" | xargs sed -i '' -e \"s/$1/$2/g\"; }; f"
[core]
  editor = vim
[push]
	default = current
[include]
  path = ~/profile/gitconfig
[credential]
	helper = cache
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
