[user]
	name = Shu Wu
	email = shuwu83@gmail.com
[color]
	ui = true
[alias]
	br = branch
	co = checkout
	st = status
	cp = cherry-pick
	aa = add --all
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative
	sl = stash
